body {
    background-color: #fbefdb;
}

nav {
    background-color: #1f5b25;
    padding: 15px;
    position: fixed;
}

nav a {
    color: white;
    margin: 15px;
}

nav a:hover {
    color: white;
    text-decoration: none;
}

nav a:first-child {
    font-size: 1.5em;
}

.banner {
    background-image: url("../img/background/banner.png");
    background-position: center center;
    background-size: cover;
    height: 400px;
}

h1 {
    color: #1f5b25;
    text-align: center;
}

.kave {
    color: #1f5b25;
    background-color: #ffffff;
    border: 1px solid #1f5b25;
    border-radius: 4px;
    margin-bottom: 1rem;
}
