body {
    background-color: #fbefdb;
}

nav {
    background-color: #1f5b25;
    padding: 15px;
    position: fixed;
}

nav a {
    color: white;
    margin: 15px;
}

nav a:hover {
    color: white;
    text-decoration: none;
}

nav a:first-child {
    font-size: 1.5em;
}

.banner {
    background-image: url("../img/background/banner.png");
    background-position: center center;
    background-size: cover;
    height: 400px;
}

.kave:hover{
    box-shadow: 0px 0px 5px #1f5b25;
}

.kave h2 {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
}